<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755489561682-6g1cq2qm3mrrt3d8hplo7u6fp212trpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755489561682-6g1cq2qm3mrrt3d8hplo7u6fp212trpk</string>
	<key>API_KEY</key>
	<string>AIzaSyCcfo8r4tpsW90MKkK4tSwfCRwc_A-DQeA</string>
	<key>GCM_SENDER_ID</key>
	<string>755489561682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextime</string>
	<key>PROJECT_ID</key>
	<string>nextime-f7db6</string>
	<key>STORAGE_BUCKET</key>
	<string>nextime-f7db6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755489561682:ios:03b22ca4065a7a19e1138b</string>
	<key>DATABASE_URL</key>
	<string>https://nextime-f7db6.firebaseio.com</string>
</dict>
</plist>